*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

#root {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
}

[type="text"], select, button {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 0 .5rem;
}

[type="text"], select {
  width: 100%;
}

[type="text"]:active, [type="text"]:focus, select:active, select:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type="checkbox"] {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  color: #222;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}

li span {
  display: inline-block;
  padding: .5rem;
  width: 250px;
  border-radius: 4px;
  border: 2px solid transparent;
}

li span:hover {
  background: rgba(179, 215, 255, 0.52);
}

li span:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: rgba(179, 207, 255, 0.52);
}

/* Styles pour la checkbox du formulaire */
#form [type="checkbox"] {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* Label pour la checkbox du formulaire */
#form label {
  margin-right: 0.5rem;
  font-size: 1rem;
}

/* Styles pour la checkbox des tâches */
li [type="checkbox"] {
  margin-right: 1rem;
  font-size: 1.5rem; /* Taille plus petite pour les tâches */
  vertical-align: middle;
}

/* Styles pour le filtre de catégorie */
#categoryFilter {
  margin-bottom: 2rem;
}

/* Couleurs pour les différentes catégories de tâches */
li[data-category="travail"] {
  color: red;
}

li[data-category="maison"] {
  color: blue;
}

li[data-category="divers"] {
  color: green;
}